*{
    margin: 0;
    padding: 0;
}




.cabecalho{
    background: rgb(255, 0, 43);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabecalho{
    width: 20%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0  16px;
    font-size: 24px ;

}


.flamengo-imagem{
    width: 320px;
    height: 313px;
}
.flamengo{
    background-image: linear-gradient(rgb(255, 0, 43), rgba(255, 255, 255, 0));
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.conteudo{
    width: 35%
}

.flamengo-titulo{
    padding: 24px;
}